doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Teacher Home

		include ../shared/header_with_javascript

		style
			include ../../../client/css/teacher_home.css
		script
			include ../../../client/js/google_analytics.js
		script(src="/socket.io/socket.io.js")
		script.
			let socket = io({query: {token: '#{token}'}});

	body
		div(id="main").container
			.col-sm-12.col-md-6.offset-md-3
				.row
					.col-sm-12
						h1.text-center Welcome #{user.username}!
				.row
					.col-sm-6
						include modules/class_selector
						hr
						include modules/assistance_request_list_module
					.col-sm-6
						include modules/random_student_selector

						hr

						a(href="/teacher/hallpass").btn.btn-lg.btn-block.btn-primary Hall Passes
						br
				hr
				.row
					.col-sm-12
						.panel-group
							.panel
								div(data-toggle="collapse", data-target="#managementPanel").btn.btn-block.btn-primary.text-center
									h4.panel-title Manage Classes
								#managementPanel.panel-collapse.collapse.container
									.row
										.col-sm-12
											hr
											button(data-toggle="modal", data-target=".create-class-modal").btn.btn-lg.btn-success.btn-block Create a Class
											br
									.row
										.col-sm-12.col-md-6
											button(id="rename_class_button", data-toggle="modal", data-target=".rename-class-modal", disabled="disabled").btn.btn-info.btn-block.management_button.disabled Rename a Class
										.col-sm-12.col-md-6
											button(id="class_key_button", data-toggle="modal", data-target=".class-key-modal", disabled="disabled").btn.btn-info.btn-block.management_button.disabled Class Key
											br
									.row
										.col-sm-12.col-md-6
											button(id="add_students_button", data-toggle="modal", data-target=".add-students-modal", disabled="disabled").btn.btn-info.btn-block.management_button.disabled Add Students
										.col-sm-12.col-md-6
											button(id="manage_students_button", data-toggle="modal", data-target=".manage-students-modal", disabled="disabled").btn.btn-info.btn-block.management_button.disabled Manage Students
											br
									.row
										.col-sm-12.col-md-6
											a(id="ar_history_link", href='#').btn.btn-info.btn-block.management_button.disabled Assistance Request History
										.col-sm-12.col-md-6
											a(id="hp_history_link", href='#').btn.btn-info.btn-block.management_button.disabled Hall Pass History
											br
									.row
										.col-sm-12.col-md-6
											button(id="remove_all_students_button", data-toggle="modal", data-target=".remove-all-students-modal", disabled="disabled").btn.btn-danger.btn-block.management_button.disabled Remove All Students
										.col-sm-12.col-md-6
											button(id="delete_class_button", data-toggle="modal", data-target=".delete-class-modal", disabled="disabled").btn.btn-danger.btn-block.management_button.disabled Delete Class

				hr
				.row
					.col-sm-12
						button(id="change_password_button", data-toggle="modal", data-target=".change-password-modal").btn.btn-info.btn-block Change Password
						a(href="/logout").btn.btn-danger.btn-block Logout

		mixin modal(class_name, header)
			div(class=class_name, tabindex="-1", role="dialog").modal
				.modal-dialog
					.modal-content
						.modal-header
							h5.modal-title.text-center= header
							button.close(type="button", data-dismiss="modal", aria-label="Close")
								span(aria-hidden="true") &times;
						.modal-body
							if block
								block
							else
								p Oops
						.modal-footer
							button(type="button", data-dismiss="modal", style="border-top-right-radius:0;border-top-left-radius:0;").btn.btn-block.btn-danger Close

		+modal("create-class-modal", "Create Class")
			include modules/add_class_module
		+modal("change-password-modal", "Change Password")
			include ../shared/change_password_module
		+modal("rename-class-modal", "Rename Class")
			include modules/rename_class_module
		+modal("add-students-modal", "Add Students")
			include modules/add_students_module
		+modal("manage-students-modal", "Manage Students")
			include modules/manage_students_module
		+modal("class-key-modal", "Class Key")
			include modules/course_key_module
		+modal("remove-all-students-modal", "Remove All Students")
			include modules/remove_all_students_module
		+modal("delete-class-modal", "Delete Class")
			include modules/delete_course_module
