doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Student Home
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		style
			include ../css/student_home.css
		script
			include ../js/google_analytics.js
		script(src="/socket.io/socket.io.js")
		script
			include ../js/student_home.js
	body
		div(id="main", class="container")
			div(class="col-sm-6 col-sm-offset-3",style="")
				h1 Welcome #{user.username}!

				input(type="hidden", value=session.id, id="session_id")
				input(type="hidden", value=user.id, id="user_id")
				if user.student_classes.length > 0
					h3(class="center_text") Select a class:
					form
						select(size="5", id="class_selector", class="form-control", onchange="getHand()")
							each student_class in user.student_classes
								each student_hand in student_class.hands
									if student_hand.user.id == user.id
										option(value=student_hand.id) #{student_class.classname}
					h3(id="hand_status") No class selected.
					button(id="handchangebutton",class="customButton btn btn-default",disabled,onClick="changeHand()",style="height:40px; font-size:20px") Change Hand Status
					br
					br
					br
				else
					h3 You are not enrolled in any classes.
				a(class="btn btn-default", onClick="toggleEnroll()", style="width:100%")
					| Enroll in a class
				div(id="div_enroll", style="display: none")
					form(action="javascript:enroll()", class="form-group")
						label Class Key:
						input(type="text", id="class_key", class="form-control")
						input(type="submit", value="Submit", class="btn btn-default", style="width:100%")
				br
		div(id="footer",class="container")
			div(class="col-sm-6 col-sm-offset-3", style="")
				a(class="btn btn-default", onClick="toggleChangePassword()", style="width:100%")
					| Change Password
				div(id="div_changepass", style="display: none", class="well")
					form(action="javascript:changePassword()", class="form-group")
						br
						label Current Password:
						input(type="password", id="oldPassword", placeHolder="Current Password", class="form-control")
						label New Password:
						input(type="password", id="newPassword", placeHolder="New Password", class="form-control")
						input(type="submit", value="Submit", class="btn btn-default")
				br
				a(href="/logout", class="btn btn-default", style="width:100%") Logout