doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Teacher Home
		
		link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		style
			include ../css/teacher_home.css
		script
			include ../js/google_analytics.js
		script(src="/socket.io/socket.io.js")
		script
			include ../js/teacher_home.js
	body(onkeypress="return KeyPress(event)")
		div(id="main", class="container", style="")
			.col-xs-12.col-lg-6.col-lg-offset-3
				h1 Welcome #{user.username}!
				if message.length > 0
					div(class="alert alert-info")
						p #{message}
				input(type="hidden" value=session.id id="session_id")
				input(type="hidden" value=user.id id="user_id")
				div(class="col-sm-6", style="")
					h3(class="center_text") Select a class:
					form
						select(multiple,size="5", id="class_selector", class="form-control", onchange="getHands()")
							each teacher_class in user.teacher_classes
								option(value=teacher_class.id) #{teacher_class.classname}
					br
					br
				div(class="col-sm-6 well", style="")
					audio(id="ding",style="display: none; width: 0px; height: 0px", src="/notification_audio" preload="auto")

					label Audio Notification: 	
						input(type="checkbox",id="audioCheck",checked)

					div(id="listItem0",onclick="handDown(0)",unselectable="on",class="unselectable listItem")
					br
					div(id="listItem1",onclick="handDown(1)",unselectable="on",class="unselectable listItem")
					br
					div(id="listItem2",onclick="handDown(2)",unselectable="on",class="unselectable listItem")
					br
					div(id="listItem3",onclick="handDown(3)",unselectable="on",class="unselectable listItem")
					br
					div(id="listItem4",onclick="handDown(4)",unselectable="on",class="unselectable listItem")
					br
					p Click name or press corresponding number to lower a hand.


					form(style="display: none; width: 0px; height: 0px")
						select(style="display:none; width:0px; height:0px" size="5",id="student_list",onChange="putDownHand()",multiple,class="form-control")
				.col-md-6.col-md-offset-3
					a(class="form-control btn btn-default", data-toggle="modal", data-target=".student-management-modal", style="width:100%")
						| Manage Classes
					br
					a(class="form-control btn btn-default", data-toggle="modal", data-target=".create-class-modal", style="width:100%")
						| Create a Class
					br
					a(class="form-control btn btn-default" data-toggle="modal" data-target=".change-password-modal", style="width: 100%")
						| Change Password
					br
					a(href="/logout", class="form-control btn btn-default") Logout
		// MODALS
		div(class="modal fade change-password-modal", tabindex="-1", role="dialog")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close") <span aria-hidden="true">&times;</span>
						h4(class="modal-title" id="changePasswordModalTitle") Change Password
					div(class="modal-body")
						form(action="javascript:changePassword()", class="form-group")
							input(type="password", id="oldPassword", placeHolder="Current Password", class="form-control" required)
							input(type="password", id="newPassword", placeHolder="New Password", class="form-control" required)
							input(type="submit", value="Submit", class="btn btn-primary")
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close
						
		div(class="modal fade create-class-modal", tabindex="-1", role="dialog")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close") <span aria-hidden="true">&times;</span>
						h4(class="modal-title" id="createClassModalTitle") Create Class
					div(class="modal-body")
						div(id="create_class_alert_box", class="alert alert-info", style="display: none")
						form(action="javascript:createClass()", class="form-group")
							input(id="classname", class="form-control", name="classname", type="text", placeholder="Class name")
							input(class="btn btn-primary", type="submit", value="Submit")
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close
		div(class="modal fade student-management-modal", tabindex="-1", role="dialog")
			div(class="model-dialog", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close") <span aria-hidden="true">&times;</span>
						h4(class="modal-title" id="studentManagementModalTitle") Manage Students
					div(class="modal-body")
						input(type="hidden" value=user.school id="user_school")
						h3(class="center_text") Select a class:
						form
							select(size="5" id="class_selector_manage" class="form-control" onchange="getAllHands()")
								each teacher_class in user.teacher_classes
									option(value=teacher_class.id) #{teacher_class.classname}
							br
							br
						nav(id="navbar", class="navbar navbar-default", style="display: none")
							div(class="container-fluid")
								.navbar-header
									button(id="navbar_toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
										span.icon-bar
										span.icon-bar
										span.icon-bar
								.collapse.navbar-collapse.unselectable(id="myNavbar")
									ul.nav.navbar-nav
										li(id="nav_0" onClick="activate(0)") <a>Change Name</a>
										li(id="nav_1" onClick="activate(1)") <a>Change Key</a>
										li(id="nav_2" onClick="activate(2); getAllHands();") <a>Manage Students</a>
										li(id="nav_3" onClick="activate(3)") <a>Add Students</a>
									ul(class="nav navbar-nav navbar-right")
						div(id="div_0" style="display: none")
							input(type="text" id="newClassName" placeholder="New Class Name" class="form-control")
							button(class="btn btn-default" onClick="renameClass()") Rename Class 
						div(id="div_1" style="display: none")
							h3(id="cKey")
							div
							p Students use this to enroll in your class.
							div
							h4 Change the class key:
							div
							div(class="alert" style="display: block" id="changeKeyAlert")
							div
							input(id="newkey" type="text" class="form-control" placeholder="New Class Key")
							button(onClick="changeKey()" class="btn btn-default") Change Class Key
						div(id="div_2" style="display: none")
							p Students currently in class:
							form
								select(size="5" id="student_list_manage" class="form-control")
							button(class="btn btn-default" onClick="removeStudent()") Remove Student
							input(type="text" id="new_pass" class="btn btn-default" placeholder="New Password")
							input(class="btn btn-default" type="button" value="Submit" onclick="submitChangePass()")
						div(id="div_3" style="display: none")
							div(id="enrollAlert" class="alert alert-info")
							h4 Add New Students:
							h5 If an account exists, the student will be enrolled in this class.
							h5 If no account exists, one will be created with this default password:
							label Default Password:
							input(type="text" class="form-control" id="defaultpassword")
							label 
								| CSV (No spaces, single line):
							input(class="form-control" type="text" id="csv")
							button(class="btn btn-default" onclick="processStudents2()") Add Student