doctype html
html
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    head
        title Virtual Hand Student Home
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        style
            include ../../client/css/student_home.css
        script
            include ../../client/js/google_analytics.js
        script(src="/socket.io/socket.io.js")
        script
            include ../../client/js/student_home.js
    body
        div(id="main", class="container")
            div.row
                div(class="col-sm-6 col-sm-offset-3", style="")
                    a(href="https://github.com/samg2014/VirtualHand" target="_blank")
                        img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png")

                    h1 Welcome #{user.username}!

                    input(type="hidden", value=session.id, id="session_id")
                    input(type="hidden", value=user.id, id="user_id")
                    if user.student_classes.length > 0
                        h3(class="center_text") Select a class:
                        form
                            select(size="5", id="class_selector", class="form-control", onchange="getHand()")
                                each student_class in user.student_classes
                                    each student_hand in student_class.hands
                                        if student_hand.user.id === user.id
                                            option(value=student_hand.id) #{student_class.classname}
                        hr
                        h3(id="hand_status") No class selected.
                        button(id="handchangebutton", class="customButton btn btn-default", disabled, onClick="changeHand()", style="height:40px; font-size:20px") Change Hand Status
                        hr
                    else
                        h3 You are not enrolled in any classes.
                    a(class="btn btn-default", onClick="toggleEnroll()", style="width:100%")
                        | Enroll in a class
                    div(id="div_enroll", style="display: none")
                        form(action="javascript:enroll()", class="form-group")
                            label Class Key:
                            input(type="text", id="class_key", class="form-control")
                            input(type="submit", value="Submit", class="btn btn-default", style="width:100%")
                    br
        div(id="footer", class="container")
            div.row
                div(class="col-sm-6 col-sm-offset-3")
                    a(class="btn btn-default", onClick="toggleChangePassword()", style="width:100%")
                        | Change Password
                    div(id="div_changepass", style="display: none", class="well")
                        form(action="javascript:changePassword()", class="form-group")
                            br
                            label Current Password:
                            input(type="password", id="oldPassword", placeHolder="Current Password", class="form-control")
                            label New Password:
                            input(type="password", id="newPassword", placeHolder="New Password", class="form-control")
                            input(type="submit", value="Submit", class="btn btn-default")
                    br
                    a(href="/logout", class="btn btn-default", style="width:100%") Logout
            //
                . div.row
                    div.col-sm-6.col-sm-offset-3
                        hr
                        h5 What is net neutrality?
                        blockquote
                            p.small Network neutrality means applying well-established “common carrier” rules to the internet in order to preserve its freedom and openness. Common carriage prohibits the owner of a network that holds itself out to all-comers from discriminating against information by halting, slowing, or otherwise tampering with the transfer of any data (except for legitimate network management purposes such as easing congestion or blocking spam).
                            footer
                                cite(title="Source Title")
                                    a(href="https://www.aclu.org/issues/free-speech/internet-speech/what-net-neutrality") The American Civil Liberties Union
                        h5 Why is this here now?
                        p.small On December 14th, 2017 the Federal Communications Commission (FCC) is planning to vote to repeal regulations governing net neutrality. This would allow internet providers to limit speeds for services that compete with them (for example Netflix competes with Comcast's streaming services). This <em>could</em> harm the operations of this website and many others on the internet. It is imperative that we act now, all of us, to presever net neutrality.
                        p.small But don't take my word for it. Research the topic for yourself by reading
                            a(href="https://en.wikipedia.org/wiki/Net_neutrality")  the Wikpedia page
                            | , or
                            a(href="http://www.latimes.com/opinion/op-ed/la-oe-rosenworcel-fcc-net-neutrality-repeal-20171122-story.html")  FCC Commissioner Jessica Rosenworcel's Op-Ed
                            | , or
                            a(href="https://www.wsj.com/articles/sorry-what-is-net-neutrality-again-a-handy-q-a-1511364339")  the Wall Street Journal's FAQs
                            | .
                        p.small There are tons of resources online about net neutrality. Do your part and learn more.
                        p.small Thanks.